:root {
  --background-color: #00d6f2;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("../src/fonts/COMIC.TTF");
  src: local("Comic-Sans"), local("Comic Sans"),
    local("Comic Sans MS") url("../src/fonts/COMIC.TTF"), format("truetype");
}

@keyframes navbar-button-page-selected-anim {
  to {
    border-bottom: 4px solid black;
  }
}


* {
  font-family: 'Comic Sans MS';
  font-size: 23px;
}

body {
  margin: 0px;
  background-color: var(--background-color);
  overflow: overlay;
}

nav {
  position: sticky;
  top: 0px;
  color: black;
  z-index: 1;
}

.main-nav {
  color: black;
  width: 100%;
  background: #72e5f5;
  padding: 10px 0px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 28.5px;
}

nav .links {
  color: black;
  text-align: center;
}

nav a {
}

input[type="checkbox"] {
  position: relative;
  transform: translateY(5px);
  appearance:none;
  width: 20px;
  height: 20px;
  border: 2px solid #014a9e;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 0;
}

input[type="checkbox"]:checked {
  background-color: #014a9e;
  border-color: #014a9e;
  color: white;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  position: relative;
  top: -6px;
  font-size: 20px;
  position: absolute;
}


space-300 {
  display: block;
  margin: 150px 0px;
}


.selected-page-nav-button {
  animation: navbar-button-page-selected-anim 0.01s forwards; 
}

.default-nav-button {
  font-size: 20.6px;
  color: black;
  text-decoration: none;
  margin: 4px 1.1%;
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
}

.default-nav-button:hover {
  border-bottom: 4px solid black;
}

.default-btn {
  background-color: black;
  padding: 6px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  transition-duration: 0.2s;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border: 2px solid black;
}
.default-btn:hover {
  background-color: gray;
  color: black;
}
/* .home-index-div-banner {
  background-image: url('../src/img/banner.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
} */
.default-section {
  text-align: center;
  margin: 0px 40px;
}
.top-level-header1 {
  text-align: center;
  font-size: 34px;
  padding-bottom: 30px;
  border-bottom: 4px black solid;
  margin: 40px 200px;
  display: block;
}
.main-page-contact-section {
  position: relative;
  top: 200px;
}
.link-blue a {
  color: rgb(0, 0, 238);
}
.job-index-card {
  position: static;
  border-radius: 13px;
  padding: 10px 50px;
  background-color: white;
  display: inline-grid;
  gap: 30px;
  cursor: pointer;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  transition-duration: 200ms;
  user-select: none;
}
.job-card-desc {
  font-size: 18px;
  color: gray;
  text-align: left;
}
.job-index-card a {
  color: black;
  text-decoration: none;
}
.job-card-title {
  margin-bottom: 0px;
}

.job-index-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
}
.job-index-card-disabled {
  background-color: rgba(255, 255, 255, 0.664);
  cursor: not-allowed;
  user-select: none;
  display: none;
}
.job-index-card-disabled:hover {
  box-shadow: 0px 0px 0px;
}
.order-section-card {
  background-color: white;
  display: inline-block;
  padding: 10px 50px;
  border-radius: 13px;
  width: 300px;
  height: fit-content;
  user-select: none;
  cursor: pointer;
  transition: 200ms;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.order-section-card img {
  margin: 0px;
}

.order-section-card-bottom {
  border-radius: 4px;
  margin: 0px;
  padding: 6px;
  box-shadow: 0px 0px 7px black;
}
.order-section-card a {
  color: black;
  text-decoration: none;
}
.order-section-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
}

.order-section-card-singleitem {
  cursor: default;
}
.order-section-card-singleitem:hover {
  box-shadow: none;
} 
.order-section-card-btn-order {
  border-radius: 4px;
  margin: 0px;
  padding: 6px;
  border: none;
  background-color: rgb(246, 209, 0);
  cursor: pointer;
  transition-duration: 200ms;
  margin-top: 12px;
}
.order-section-card-btn-order:hover {
  box-shadow: 0px 0px 7px black;
}
.login-btn {
  position: absolute;
  right: 5px
}
.login-box-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: aquamarine;
  border-radius: 10px;
  width: 40%;
  aspect-ratio: 468 / 319;
  text-align: center;
}
.login-box-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.login-box-email {
  position: relative;
  left: -45px;
}
.login-box-child input[type=text], .login-box-child input[type=password] {
  border: 2px solid black;
  outline: none;
  border-radius: 8px;
}
.show-unavailable-jobs-btn {
  width: 20px;
  height: 20px;
}
